html {
    overflow-x: hidden;
    overflow-y: scroll
}

body {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom:1}

audio:not([controls]) {
    display: none
}

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

sub,sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic
}

#map_canvas img,.google-maps img {
    max-width: none
}

button,input,select,textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    outline: 0
}

button,input {
    *overflow: visible;
    line-height: normal
}

button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0
}

button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

label,select,button,input[type=button],input[type=reset],input[type=submit],input[type=radio],input[type=checkbox] {
    cursor: pointer
}

input[type=search] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield
}

input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    vertical-align: top
}

ul,li {
    list-style: none outside none;
    margin: 0
}

body {
    margin: 0;
    font-family: SimSun,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #333
}

a {
    color: #145c98;
    text-decoration: none;
    outline: 0
}

a:active {
    text-decoration: none
}

a:hover,a:focus {
    color: #2d83cf;
    text-decoration: none
}

a:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none
}

p {
    margin: 0
}

.lead {
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: 200;
    line-height: 24px
}

small {
    font-size: 85%
}

strong {
    font-weight: 700
}

em {
    font-style: italic
}

cite {
    font-style: normal
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 16px;
    color: inherit;
    text-rendering: optimizelegibility
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
    font-weight: 400;
    line-height: 1;
    color: #999
}

h1,h2,h3 {
    line-height: 32px
}

h1 {
    font-size: 38.5px
}

h2 {
    font-size: 31.5px
}

h3 {
    font-size: 24.5px
}

h4 {
    font-size: 17.5px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 11.9px
}

h1 small {
    font-size: 24.5px
}

h2 small {
    font-size: 17.5px
}

h3 small {
    font-size: 14px
}

h4 small {
    font-size: 14px
}

.page-header {
    padding-bottom: 7px;
    margin: 16px 0 24px;
    border-bottom: 1px solid #eee
}

ul,ol {
    padding: 0;
    list-style: none outside none;
    margin: 0
}

ul ul,ul ol,ol ol,ol ul {
    margin-bottom: 0
}

ul.unstyled,ol.unstyled {
    margin-left: 0;
    list-style: none
}

ul.inline,ol.inline {
    margin-left: 0;
    list-style: none
}

ul.inline>li,ol.inline>li {
    display: inline-block;
    *display: inline;
    *zoom:1;padding-left: 5px;
    padding-right: 5px
}

dl {
    margin: 0
}

dt,dd {
    line-height: 16px
}

dd {
    margin-left: 0
}

hr {
    margin: 16px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff
}

abbr[title],abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999
}

abbr.initialism {
    font-size: 90%;
    text-transform: uppercase
}

blockquote {
    padding: 0 0 0 15px;
    margin: 0 0 16px;
    border-left: 5px solid #eee
}

blockquote p {
    margin-bottom: 0;
    font-size: 17.5px;
    font-weight: 300;
    line-height: 1.25
}

blockquote small {
    display: block;
    line-height: 16px;
    color: #999
}

blockquote small:before {
    content: '\2014 \00A0'
}

blockquote.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0
}

blockquote.pull-right p,blockquote.pull-right small {
    text-align: right
}

blockquote.pull-right small:before {
    content: ''
}

blockquote.pull-right small:after {
    content: '\00A0 \2014'
}

q:before,q:after,blockquote:before,blockquote:after {
    content: ""
}

form {
    margin: 0
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0
}

label,input,button,select,textarea {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px
}

input,button,select,textarea {
    font-family: SimSun,Helvetica,Arial,sans-serif
}

label {
    display: block
}

select,textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input {
    display: inline-block;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    color: #555;
    vertical-align: middle
}

input,textarea,.uneditable-input {
    width: 206px
}

textarea {
    height: auto;
    overflow-x: hidden;
    overflow-y: auto
}

textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input {
    background-color: #fff;
    border: 1px solid #ddd
}

textarea:focus,input[type=text]:focus,input[type=password]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=email]:focus,input[type=url]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=color]:focus,.uneditable-input:focus {
    outline: 0;
    outline: thin dotted \9
}

input[type=radio],input[type=checkbox] {
    margin: 4px 0 0;
    *margin-top: 0;
    margin-top: 1px \9;
    line-height: normal
}

input[type=file],input[type=image],input[type=submit],input[type=reset],input[type=button],input[type=radio],input[type=checkbox] {
    width: auto
}

select,input[type=file] {
    height: 24px;
    *margin-top: 4px;
    line-height: 24px
}

select {
    width: 220px;
    border: 1px solid #ddd;
    background-color: #fff
}

select[multiple],select[size] {
    height: auto
}

select:focus,input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

[class^=checkbox-],[class*=" checkbox-"] {
    border: 1px solid #a9a9a9;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

[class^=checkbox-] .ico,[class*=" checkbox-"] .ico {
    width: 9px;
    height: 7px;
    margin: 4px 0 0 3px;
    display: inline-block;
    vertical-align: top!important
}

.checkbox {
    border: 1px solid #a9a9a9;
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    text-align: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.checkbox:hover {
    border-color: #5aa5e7
}

[class^=icon-],[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: middle;
    background-position: 14px 14px;
    background-repeat: no-repeat
}